<% content_for :title, 'About goBinnacle' %>
<!--This is where the about and staff page will go -->
<div class="container">
  <div class="row">
    <div class="col-sm-10 ">
    <h1>About</h1> <!-- About content inserted here -->
      <div class="well">
        <p>
          goBinnacle is the online version of the Associated Students of California Maritime Academy's 'award winning' in-print publication 'The Binnacle'. We are a collection of students at Cal Maritime who have taken the responsibility to maintain the sanity on campus with humor and satire of all things maritime. We are always looking for new writers and talent. You can submit articles online or apply to be a writer. Just click on the button below.
        </p>
        <p>
          goBinnacle articles are meant to be satire and should be read as such unless explicitly marked otherwise. 
        </p>
        <p>
          Any views expressed by the writers of goBinnacle or The Binnacle are not representative of the California Maritime Academy, Associated Students CMA, or The California State University. 
        </p>
        <p>
          Enjoy responsibly. 
          - goBinnacle Staff &amp; The Cats of CMA
        </p>
      </div>
      <br><br>
        <center>
          <div class="btn-group" role="group"> <!-- Button Group -->
            <%= button_to'Send a Letter to the Editor', letters_path, :type => "button", :class => "btn btn-default" %>
            
          </div>
        </center>
      <br><br>
    </div>
    <div class="col-sm-10 col-md-10">
      <h1>Staff</h1>
      <div class="continer-fluid"><!-- Start staff section -->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-6">
          <h3>
            Editor-in-Chief
          </h3>
          <p>Matthew Castle</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-6">
          <h3>
            Associate Editors
          </h3>
          <ul class="list-unstyled">
            <li>Brian Strickland</li>
            <li>Racheal Asbell</li>
            <li>Nicholas Seferos</li>
          </ul>
          </div>
        </div>        
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-6">
          <h3>
            Contributors
          </h3>
          <ul class="list-unstyled">
            <li>Ethan Biegel</li>
            <li>Alexandra Castillo</li>
            <li>Sara Hakala</li>
            <li>Monique Hurdle</li>
            <li>Christina Stach</li>
            <li>Murray Manchanthasouk</li>
            <li>Jake Merrick</li>

          </ul>
          </div>
        </div> 
 <!-- End Staff section -->
      </div>
    </div>
  </div>
</div>